
body {
	background-color: #9266ff;
	color: rgb(202,156,24);
	text-align: center;
	padding-top: 50px;
}

.App {
	background-color: #3f3160;
	width: 420px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 120px;
	border-radius: 10px;
}